---
title: 'Using ImageOptim with guard-shell'
author: 'adamyonk'
created_at: 2013-01-14 10:14:37 -0600
tags: [automation]
published: false
kind: article
---

:markdown
  For the uninitiated, [ImageOptim][imageoptim] is a great Mac app that uses
  several well-known image optimization tools to compress images and help keep
  file sizes down and [Guard][guard] is "a command line tool to easily handle
  events on file system modifications." If you've never tried Guard, I'd
  encourage you to take some time and check it out. With over [150
  plugins][guardplugins] now available, there's surely some way that you can
  use it to optimize your workflow.

  I like to pair the [guard-shell][guardshell] gem with ImageOptim to help me
  keep my project's image assets compressed and ready for production. Make sure
  you have both guard and guard-shell in your Gemfile and set up a watcher in
  your Guardfile for new or edited images:

  <script src="https://gist.github.com/4503714.js"></script>

  An interesting side effect to note is that guard will catch the file change
  when ImageOptim is done compressing and re-open it in ImageOptim and continue
  this loop untill there's nothing else ImageOptim can compress out of the
  image.

  [imageoptim]: http://imageoptim.com 'ImageOptim — make websites and apps load faster (Mac app)'
  [guard]: https://github.com/guard/guard 'Guard is a command line tool to easily handle events on file system modifications.'
  [guardshell]: https://github.com/guard/guard-shell
  [guardplugins]: https://rubygems.org/search?query=guard-

