<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta content='chrome=1' http-equiv='X-UA-Compatible'>
    <title>
      {{ page.title }}
      - dotfiles.github.io
    </title>
    <link href='/stylesheets/styles.css' rel='stylesheet'>
    <meta content='width=device-width, initial-scale=1, user-scalable=yes' name='viewport'>
    <!--[if lt IE 9]>
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    <![endif]-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-53167467-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-11252985-5');
    </script>
    <script type='text/javascript'>
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f95a6a8f5a1f50e1b00004c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <img alt='Forktocat' src='/images/dotfiles-logo.png'>
        <p>
          <em>Your unofficial guide to dotfiles on GitHub.</em>
        </p>
        <a href="/" class="{% if page.url == "/" %}active{% endif %}">Home</a><br>
        <a href="/tutorials/" class="{% if page.url == "/tutorials/" %}active{% endif %}">Tutorials</a><br>
        <a href="/utilities/" class="{% if page.url == "/utilities/" %}active{% endif %}">General-purpose utilities</a><br>
        <a href="/frameworks/" class="{% if page.url == "/frameworks/" %}active{% endif %}">Tool-specific frameworks</a><br>
        <a href="/bootstrap/" class="{% if page.url == "/bootstrap/" %}active{% endif %}">Bootstrap repositories</a><br>
        <a href="/inspiration/" class="{% if page.url == "/inspiration/" %}active{% endif %}">Inspiration</a><br>
        <a href="/tips/" class="{% if page.url == "/tips/" %}active{% endif %}">Tips and tricks</a><br>
        <a href="/faq/" class="{% if page.url == "/faq/" %}active{% endif %}">FAQ</a>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <ul>
        <li>Theme by <a href="https://github.com/orderedlist">orderedlist</a>.</li>
        <li><a href="https://github.com/jglovier/dotfiles-logo">Logo</a> by <a href="https://github.com/jglovier">Joel Glovier</a>.</li>
        </ul>
      </footer>
    </div>
    <script src='/javascripts/scale.fix.js'></script>
    <script type='text/javascript'>
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </body>
</html>
