#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

require 'compass'
Compass.add_project_configuration 'compass.rb'

preprocess do
  create_tag_pages
  items.delete_if { |item| item[:publish] == false }
end

compile '/stylesheets/*/' do
   filter :sass, Compass.sass_engine_options
end

compile '*' do
  # Item[:extension] returns 'html.erb' for multi-dotted filename
  ext = item[:extension].nil? ? nil : item[:extension].split('.').last

  if ext == 'erb'
    filter :erb
  elsif ext == 'haml' || ext.nil?
    filter :haml
  elsif ext == 'md' || ext == 'markdown'
    filter :erb
    filter :rdiscount
  else
    raise "Filter is not configured for #{item.identifier} in Rules file."
  end

  # Use layouts with .html extension or layout specified in meta
  item[:layout] = "none" unless item[:layout] || File.extname(route_path(item)) == '.html' 

  layout 'default' unless item[:layout] == "none"
end

route '/stylesheets/*/' do
   item.identifier.chop + '.css'
end

route '*' do
  route_path item
end

layout '*', :haml, :format => :html5
