!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      = @item[:title]
      \- dotfiles.github.com
    %link{:href => "/stylesheets/styles.css", :rel => "stylesheet"}/
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
    /[if lt IE 9]
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        %img(alt="Forktocat" src="/images/forktocat.jpg")
        %h1 dotfiles.github.com
        %p
          %em Your unofficial guide to dotfiles on GitHub.
      %section
        = yield
      %footer
        %p
          %a(href="https://twitter.com/octodots" class="twitter-follow-button" data-show-count="false") Follow @octodots
        %p
          %small
            Hosted on GitHub Pages &mdash; Theme by
            %a{:href => "https://github.com/orderedlist"} orderedlist.
          %small
            %a(href="http://octodex.github.com/forktocat/") Forktocat logo
            by
            %a(href="https://github.com/cameronmcefee") Cameron McEfee.
    %script{:src => "/javascripts/scale.fix.js"}
    %script{:src => "//platform.twitter.com/widgets.js"}

