!!!
%html
  %head
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'chrome=1', 'http-equiv' => 'X-UA-Compatible'}/
    %title
      = @item[:title]
      \- dotfiles.github.com
    %link{:href => '/stylesheets/styles.css', :rel => 'stylesheet'}/
    %meta{:content => 'width=device-width, initial-scale=1, user-scalable=no', :name => 'viewport'}/
    /[if lt IE 9]
      <script src='//html5shiv.googlecode.com/svn/trunk/html5.js'></script>
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11252985-5']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f95a6a8f5a1f50e1b00004c');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();

  %body
    .wrapper
      %header
        :markdown
          ![Forktocat](/images/forktocat.jpg)
          # dotfiles.github.com
          _Your unofficial guide to dotfiles on GitHub._

      %section
        - if @item[:kind] == 'article'
          = render '_article', content: content, item: @item
        - else
          = content
        =# yield

      %footer
        %p
          %a(href='https://twitter.com/octodots' class='twitter-follow-button' data-show-count='false') Follow @octodots
        %p
          %a(href='https://twitter.com/share' class='twitter-share-button' data-via='octodots') Tweet
          %g:plusone{:size => 'medium'}
        :markdown
          * Tracked by [Gauges](http://get.gaug.es).
          * Hosted by [Pages](http://pages.github.com).
          * Theme by [orderedlist](http://github.com/orderedlist).
          * [Forktocat logo](http://octodex.github.com/forktocat/) by [Cameron McEfee](https://github.com/cameronmcefee).

    %script{:src => '/javascripts/scale.fix.js'}
    %script{:src => '//platform.twitter.com/widgets.js'}
    :javascript
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
